
 <mat-toolbar color="primary">
  <span >Relatório</span>


</mat-toolbar>

<mat-card>
  <mat-card-content>
    <div class="column-flex mat-elevation-z8">
    <mat-toolbar color="secondary">
      <span>Listagem dos fornecedores que possuem produtos faltando em estoque</span>
      <span class="example-spacer"></span>
    </mat-toolbar>


    <mat-card-content>
      <div *ngIf="lista | async as lista; else loading">


      <mat-table [dataSource]="lista" >




        <!-- Symbol Column -->
        <ng-container matColumnDef="fornecedores">
          <mat-header-cell  *matHeaderCellDef> Fornecedores</mat-header-cell>
          <mat-cell  *matCellDef="let produto"> {{produto}} </mat-cell>
        </ng-container>

        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>
      <ng-template #loading>
        <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>

      </ng-template>





    </mat-card-content>

    <mat-paginator [length]="length" pageSize=10
    (page)="getPaginatorData($event)" [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons="false">
</mat-paginator>






    </div>


</mat-card-content>

</mat-card>


