<mat-toolbar color="primary">
  <span>Compras</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <div class="column-flex mat-elevation-z8">
      <mat-toolbar color="secondary">
        <span>Compras de Produtos</span>
        <span class="example-spacer"></span>
      </mat-toolbar>

      <app-compras-list (detail)="onDetail($event)" *ngIf="compras$ | async as compras; else loading" [compras]="compras">

      </app-compras-list>

      <ng-template #loading>
        <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>

      </ng-template>
    </div>

    <mat-paginator #paginator [length]="length" [pageSize]="highValue" [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="getPaginatorData($event)">
    </mat-paginator>

  </mat-card-content>

</mat-card>
