#campo{
  margin: 0.5rem ;
}

.example-spacer {
  flex: 1 1 auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
}
