.example-spacer {
  flex: 1 1 auto;
}
.button{
  padding-left: 5rem;
  padding-right: 5rem;
}

#login{
  height: 4rem;
  width: 20rem;
}

#container{
  display:flex;
}

#container2{
  display:flex;
}

img{
  padding-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
