<div *ngIf="mostrar; else deletar">
<h1 mat-dialog-title>Dados de pagamento</h1>
<div mat-dialog-content >
  Digite o CEP do endereço de combrança:
</div>
<div mat-dialog-content >
  <form [formGroup]="form">
    <mat-form-field id="campo" appearance="fill">
      <mat-label>CEP</mat-label>
      <input matInput placeholder="CEP" formControlName="cep" #nome>
      <mat-hint align="end">{{nome.value?.length}}/8</mat-hint>
      <mat-error *ngIf="form.get('cep')?.invalid">{{getErrorMessage("cep")}}</mat-error>
      <mat-hint>Digite o CEP de cobrança</mat-hint>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="enviar()" mat-dialog-close cdkFocusInitial>Enviar</button>
</div>
</div>

<ng-template #deletar>
  <h1 mat-dialog-title>Deletar produto</h1>
  <div mat-dialog-content >
    Tem certeza que quer deletar o produto?
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial >Não</button>
    <button mat-button (click)="onClick()" mat-dialog-close>Sim</button>
  </div>

</ng-template>
